.delger2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width:80%;
    height:auto;
    margin:auto;
    .garch{
        text-align: center !important;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 0.8px;
        font-weight: 600;
        color: #293C43;
    }
    .ulbak{
        background-color: #ff6600;
        background-image: linear-gradient(302deg, #ff6600 46%, #f93702 100%);
        height: 8px;
        width: 200px;
        min-width: 200px;
        border-radius: 50px;
        text-align: center;
        margin: 50px auto;
    }
    .more{
        p{
            text-align: center !important;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.8px;
            font-weight: 300;
            color: #293C43;
            z-index: 1;
        }
    }
    .zurag{
        background-image: url(./10.jpg) !important;
        width:70%;
        height:320px;
        background-size: cover !important;
        border-radius: 10px;
        background: no-repeat;
        margin: auto;
        margin-bottom: 20px;
        background-position:center;
    }
    .heseguud{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width:100%;
        .heseg{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width:350px !important;
            height:300px;
            img{
                width: 100px;
                height: 100px;
                margin-bottom: 20px;
                padding-bottom: 20px;
                margin:auto;
            }
            h4{
                font-size: 19px;
                line-height: 24px;
                color: #293C43 !important;
                margin-top:5px;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                color: #5F717D;
                margin-top:5px;
            }
        }
    }
    .del{
        width:350px;
        height:80px;
        display: flex;
        justify-content: center;
        margin: auto;
        text-align: center;
        margin-top:20px;
        a{
            background: transparent;
            border:#ff6600 1px solid;
            border-radius: 50px;
            width: 100%;
            color: #ff6600;
            border-width: 2px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-decoration: none;
            padding-top:5px;
        }
        a:hover{
            background-color: #ff6600;
            background-image: linear-gradient(302deg, #ff6600 46%, #f93702 100%);
            border-color: #ff6600;
            border-radius: 50px;
            width: 100%;
            color: white;
            border-width: 2px;
            opacity: 1;
            -webkit-transition: 0.5s;
            transition: 0.4s;
        }
    }
}