.delger4{
    width:100%;
    height:315px;
    background-image: url(./ipoheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:auto;
    margin:auto;
    align-items: center;
    .garch{
        text-align: center !important;
        margin-top: 20px;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 0.8px;
        font-weight: 600;
        color: #fff;
    }
    .ulbak{
        background-color: #ff6600;
        background-image: linear-gradient(302deg, #ff6600 46%, #f93702 100%);
        height: 8px;
        width: 200px;
        min-width: 200px;
        border-radius: 50px;
        text-align: center;
        margin: 50px auto;
    }
    .more{
        p{
            text-align: center !important;
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.8px;
            font-weight: 300;
            color: #fff;
            z-index: 1;
        }
    }
    .logos{
        display: flex;
        justify-content: center;
        flex-direction: row;
        img{
            height: 90px;
            width: auto;
        }
    }
}